{% extends 'base.html' %}
{% load static %}
{% block title %}Contact us |{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
{% endblock %}

{% block body-class %}"contacts-index-index rtl inner-page"{% endblock %}
{% block content %}
<div id="page">

  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9">
          <div class="page-title">
            <h1>Contact Us</h1>
          </div>
          <div class="static-contain">
            <form method="POST">
              {% csrf_token %}
              <fieldset class="group-select">
                <ul>
                  <li id="billing-new-address-form">
                    <fieldset>
                      <legend>New Address</legend>
                      <input type="hidden" id="billing:address_id">
                      <ul>
                        <li>
                          {% for field in form %}
                          {% if forloop.counter0 == 4 %}
                          <div class="customer-name">
                            <div class="input-box name-firstname" style="width: 100%;">
                              <label for="{{ field.id }}"> {{ field.label }}<span class="required">*</span></label>
                              <br>
                              {{ field }}
                            </div>
                          </div>
                          {% else %}
                          <div class="customer-name">
                            <div class="input-box name-firstname">
                              <label for="{{ field.id }}"> {{ field.label }}<span class="required">*</span></label>
                              <br>
                              {{ field }}
                            </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </li>
                      </ul>
                    </fieldset>
                  </li>
                  <span class="require"><em class="required">* </em>Required Fields</span>
                  <div class="buttons-set">
                    <button type="submit" title="Submit" class="button submit"> <span> Submit </span> </button>
                  </div>
                </ul>
              </fieldset>
            </form>
          </div>
        </section>
        <aside class="col-right sidebar col-sm-3">
          <div class="block block-company">
            <div class="block-title">Company </div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd"><a href="{% url 'core:about-us' %}">About Us</a></li>
                <li class="item even"><a href="#">Sitemap</a></li>
                <li class="item  odd"><a href="#">Terms of Service</a></li>
                <li class="item even"><a href="#">Search Terms</a></li>
                <li class="item last"><strong>Contact Us</strong></li>
              </ol>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <!-- Brand logo starts  -->
  <div class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6">

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand logo ends  -->

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}